body,html,#__next{
    height: 100%;
}
.Xiaoguotu{
    padding-top: 45px;height: 100%;box-sizing: border-box;
    .am-wingblank-lg{
        margin: 0;background: #1B1B1B;width: 7.5rem;overflow: hidden;;
        height: 100%;
        .slider-list{
            height: 8.03rem!important;background:#1B1B1B;
            img{
                height: 7.66rem;margin-top: 0.8rem;
            }
        }
    }
    .bottom{

        position: fixed;bottom: 0;width: 7.5rem;height:3rem;
        .info{
            height: 0.78rem;width: 7.5rem;
            margin-top: 1.2rem;
            h1{
                height: 0.5rem;line-height: 0.5rem;font-size: 0.35rem;color: #FFF;font-weight: 500;text-align: center;
            }
        }
        .sj{
           width: 7.5rem;height: 1.02rem;background: #F7C94C;line-height: 1.02rem;text-align: center;font-size:0.36rem;display: block;
           color: #FFF;
        }
    }
 }
