.baikeTab{
    .am-tabs-default-bar-content{
        width: auto!important;margin:0.2rem auto 0 auto;height: 0.5rem;
        .am-tabs-default-bar-tab{
           margin-left:0.06rem;
           border:0.01rem solid #ffb200;border-radius: 0.2rem;height: 0.45rem;
           border-bottom: 0.01rem solid #ffb200!important;font-size: 0.22rem;padding: 0.1rem 0.12rem;
        }
        .am-tabs-default-bar-tab-active{background: #ffb200;color: #FFF;}
        .am-tabs-default-bar-underline{
            display: none;
        }
    }
}