.xgt{ padding: 0.05rem 0.25rem 0.156rem 0.25rem;background-color: #fff;margin-top:0.2rem;position:relative}
.xgt ul{padding-top:0.4rem;width:100%;}
.xgt ul li{width:48.5%;height:3.4rem;float:left;margin-right:0.2rem;position: relative;}
.am-tabs-pane-wrap{overflow: inherit}
.xgt ul li:nth-child(2n){margin-right:0}
.xgt ul{
    li{
        margin-bottom: 0.2rem;overflow: hidden;border-radius:0.15rem;
        img{
            width: 100%;height: 100%;
        }
        .info{
            position: absolute;left: 0;bottom: 0;
            color: #FFF;
            padding: 0.2rem;
            p{border-bottom: 0.01rem solid #FFF;padding-bottom: 0.1rem;width: 1rem;}
            span{font-size: 0.2rem;}
        }
    }
}
.xgt .more{
    display:block;width: 100%;font-size: 0.24rem;color: #333333;text-align: center;height: 0.24rem;line-height: 0.24rem;text-align: center;padding-top: 0.2rem;
}